.user-list-container {
    margin-top: 10em !important;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.delete {
    background-color: rgb(235, 14, 14);
    color: aliceblue;
}

.Update {
    background-color: rgb(14, 110, 235);
    color: aliceblue;
}