@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=REM&family=Roboto+Slab:wght@600&display=swap');
.custom-form {
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: rgb(26, 38, 66);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.backupdate {
    background-color: #6a398a;
    border-radius: 1rem;
    text-align: center;
    color: black;
    display: flex;
    justify-content: start;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 7px;
    color: white;
    font-size: 20px;
}

.form-control {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-title {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.status-container {
    display: flex;
}

.form-check {
    margin-bottom: 15px
}

.form-check {
    margin-left: 5px;
}

.form-check-label[for="new-status-done"] {
    margin-left: 15px;
    color: rgb(50, 50, 203);
}

.form-check-label[for="new-status-pending"] {
    margin-left: 8px;
    color: rgb(50, 50, 203);
    margin-bottom: 0.5em;
}

.titulo {
    margin-left: 1em !;
}