.img-404 {
    margin-top: 13em !important;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #7d1dfa;
    transition: width 0.3s ease, margin-top 0.3s ease;
}

@media (max-width: 670px) {
    .responsive-error {
        width: 130% !important;
        margin-top: 10em !important;
    }
}

@media (max-width: 986px) {
    .responsive-error {
        margin-top: 10em !important;
        width: calc(300px + (500px - 300px) * ((100vw - 986px) / (1920 - 986)));
    }
}