@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=REM&family=Roboto+Slab:wght@600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    background-color: #101728;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button:active {
    background-color: #ff5733;
    color: #fff;
    transform: scale(0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}